.aboutusbanner{
    width: 80%;
    height: 75vh;
    margin: 30px auto;
    border-radius: 3px;
    background:  #031130 url("../../assets/unsplash_DNADGmifFsc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem ;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #031130;
}
