.Hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #1E2A38;
}
.Hero div{
    max-width: 50vw;
    max-height: 100vh;
    min-width: 350px;
    width: 50%;
    min-height: 350px;
}
.Hero .text{
    color: #fff;
    padding: 40px 15px ;
    width: 45%;
}
.Hero .text h1{
    font-size: clamp(2rem, 5vw + 1rem, 5.3rem);
    font-weight: 700; 
    text-align: left;
    display: inline-block;
    margin: 0;
    text-shadow: 0 0 3px #000;
}
.Hero .text h2{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    padding: 2px 0px;
    border-radius: 20px;
    border: 1px;
    margin: 0;
}
.Hero .text p{
    max-width: 362px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 10px 0;
    margin: 5px 0;
    color: #68a4a5;
    text-shadow: 0 0 3px #000;
}
.Hero button {
    background-color: #68a4a5;
    border-radius: 10px;
    padding: 10px 18px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 16.94px; 
    text-align: center;
    z-index: 1;
    padding: 15px 25px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    margin: 5px 0;
    filter: drop-shadow(0 0 3px #000);
    /* box-shadow: 0 0 3px #000; */
}
.Hero button:active{
    transform: scale(0.9);
}
.Hero .image_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 350px;
    position: relative;
    /* background-color: red; */
}
.Hero .image_holder:after{
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    background: #3A4A5A;
    height: 450px;
    width: 450px;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    z-index: 1;
}
.Hero .image_holder::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 13%;
    background: #3A4A5A;
    height: 20%;
    width: 15%;
    border-radius: 50% !important;
    z-index: 0;
}
.Hero .image_holder img{
    width: 75%;
    height: auto;
    display: block;
    z-index: 99;
}
.Hero hr{
    position: absolute;
    bottom: 0;
    width: 60%;
    border: 1px solid #68a4a5;
}
























@media(max-width:768px){
    .Hero{
        padding-top: 50px;
    }
}