.login-page{
    padding: 50px 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #759CBA59;
    padding-bottom: 30px;
    width: 50%;
    min-width: 350px;
    max-width: 450px;
    border-radius: 5px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 15px;
}
.text{
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 60px;
    background: none;
    border-bottom: 1px solid #031130;
    border-radius: 6px;
    min-width: 320px;
}
.input img{
    margin: 0 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
}
.forgot-password{
    padding-left: 62px;
    margin: 27px 0 0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}
.forget-password:hover{
    color: grey;
}
.submit-container{
    padding: 0px 10px;
display: flex;
gap: 10px;
margin: 10px auto;
width: 100%;
justify-content: center;
flex-wrap: wrap;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: #fff;
    min-width: 200px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background:  #031130;
    color: #fff;
    border-radius: 5px;
}
.completed{
    background: #D9D9D97A;
    border:  1px solid  linear-gradient(90deg, #031130 0%, #FC007A 100%);
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    height: 40px;
}
.container img{
    width: 25px;
}
.wallet-btn{
    background-color: #031130;
}
.completed:active{
    transform: scale(0.9);
}