.features{

    background: red;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.features div{
    color: #ffffff;
    width: 45%;
    min-width: 340px;
    margin: 10px 10px;
}
.features .image img{
    width: 100%;
    height: auto;
}
.features .text{
    padding: 40px 20px;
}
.features .text h3{
    color: #FC007A;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}
.features h1{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
}
.features .text ul {
    color: #ffffff;
    list-style-type: none;
    display: inline-block
}
.features .text ul li {
    margin: 20px 0;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
}
















