@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}
.homepage{
    background-color: #1E2A38;
    width: 100%;
    overflow: hidden;
}